<mat-card>
  <!-- <h3>Next DCA:</h3>
    {{this.dcaService.getNextDCADate()}}
    <app-inline-edit [editables]="editables"></app-inline-edit> -->
  <h3>DCA:</h3>
  <app-inline-edit [editable]="editable"></app-inline-edit>
  <br>
  <span>every</span>
  <mat-form-field>
    <mat-select [formControl]="selectedDCAFrequency">
      <mat-option *ngFor="let frequency of getDCAFrequencies()" [value]="frequency">{{frequency}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <span>Next DCA</span>
  <br>
  <span>{{getNextDCADate() | date}}</span>

</mat-card>
