<label mat-label *ngIf="editable.placeholder">{{editable.placeholder}}</label>
<button mat-button *ngIf="!(editing$ | async)" title="Click to edit" (click)="setEditing(true)" (focus)="setEditing(true);"
  [class]="getHTMLID('button')">
  <span *ngIf="editable.transformPipe === 'currency'">{{editable.value | currency: 'USD'}}</span>
  <span *ngIf="editable.transformPipe === 'date'">{{editable.value | date}}</span>
</button>
<input matInput *ngIf="(editing$ | async)" required [(ngModel)]="editable.value" [type]="editable.type" [placeholder]="editable.placeholder"
  (keyup)="pressedKey($event)" [class]="getHTMLID('input')" (keyup)="pressedKey($event)" />