<mat-card>
  <h3>{{crypto}} ticker</h3>
  <div *ngIf="ticker">
    <table>
      <tr>
        <td>Price:</td>
        <td>{{ticker.weightedAvgPrice | currency: 'USD'}}</td>
      </tr>
      <tr>
        <td>Bid:</td>
        <td>{{ticker.bidPrice | currency: 'USD'}}</td>
      </tr>
      <tr>
        <td>Ask:</td>
        <td>{{ticker.askPrice | currency: 'USD'}}</td>
      </tr>
      <tr>
        <td>Low:</td>
        <td>{{ticker.lowPrice | currency: 'USD'}}</td>
      </tr>
      <tr>
        <td>High:</td>
        <td>{{ticker.highPrice | currency: 'USD'}}</td>
      </tr>
    </table>
  </div>
  <ng-container *ngIf="!ticker">
    <mat-spinner [diameter]="60"></mat-spinner>
  </ng-container>
</mat-card>
