<mat-toolbar color="primary">Coin App</mat-toolbar>
<div class="flex-container">
  <app-ticker>
    <mat-spinner [diameter]="60"></mat-spinner>
  </app-ticker>
  <app-wallet>
    <mat-spinner [diameter]="60"></mat-spinner>
  </app-wallet>
  <app-dca>
    <mat-spinner [diameter]="60"></mat-spinner>
  </app-dca>
</div>
<mat-slide-toggle [formControl]="useDummies">Use dummy data</mat-slide-toggle>