<mat-card class="wallet-container">
  <h3>Wallet
    <button *ngIf="(wallet$ | async)" mat-icon-button (click)="clearWallet()">
      <mat-icon>clear</mat-icon>
    </button>
  </h3>
  <ng-container class="public-address-container" *ngIf="!(wallet$ | async)">
    <mat-form-field class="full-length">
      <input matInput placeholder="Enter Public address" [formControl]="publicAddress" [errorStateMatcher]="matcher"
        (keydown)="keyDown($event)" required>
      <mat-error *ngIf="publicAddress.hasError('required')">
        Public Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="wallet$ | async">
    <mat-table [dataSource]="(wallet$ | async)?.balances">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let coin">{{coin.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
        <mat-cell *matCellDef="let coin">{{coin.valid}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ticker">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let coin">
          {{ (tickers$[coin.name] | async)?.askPrice * coin.valid | currency: 'USD'}}
        </mat-cell>
        <!-- TODO: add ticker. -->
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </ng-container>
  <ng-container *ngIf="isLoading$ | async">
    <mat-spinner [diameter]="60"></mat-spinner>
  </ng-container>

  <!-- TODO: add last transactions -->
</mat-card>