/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.flex-container {
    display: flex;
}

.flex-container > * {
    display: flex;
}

td {
    padding: 2px;
}